@tailwind base;
@tailwind components;
@tailwind utilities;

/* .my-gradient {
background: #010101;
background: linear-gradient(135deg, #010101, #5A0142);
} */

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(98, 84, 140);
}

/* .fancy_radius{
border-radius: 0% 0% 0% 100% / 52% 37% 63% 48%;} */