@tailwind base;
@tailwind components;
@tailwind utilities;

/* .my-gradient {
background: #010101;
background: linear-gradient(135deg, #010101, #5A0142);
} */

.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(98, 84, 140);
}

.fancy_radius {
  /* border-radius: 0% 0% 0% 100% / 52% 37% 63% 48%; */
  /* box-shadow: 0px 0px 20px 16px rgba(69, 69, 81, 0.435); */
}

.fog-img {
  position: absolute;
  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background: url("/assets/fog-1.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background: url("/assets/fog-2.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
